blinker==1.8.2
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
flask==3.0.3
fonttools==4.51.0
gunicorn==22.0.0
importlib-metadata==7.1.0
importlib-resources==6.4.0
itsdangerous==2.2.0
jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.7.5
numpy==1.24.4
packaging==24.0
pandas==2.0.3
pillow==10.3.0
pony==0.7.17
py4j==0.10.9.7
pyarrow==16.1.0
PyMySQL==1.1.0
pyparsing==3.1.2
pyspark==3.5.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tzdata==2024.1
werkzeug==3.0.3
zipp==3.18.1
